<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Productos</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark mt-2">
        <div class="container-fluid">
            <a style="margin-left: 10px ;border: none" class="btn btn-outline-light" class="navbar-brand"
                href="/productos">PRODUCTOS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a style="margin-left:10px ;border: none" class="btn btn-outline-light" aria-current="page"
                            href="/contacto">CONTACTO</a>
                    </li>
                    <li class="nav-item">
                        <a style="margin-left:10px ;border: none" class="btn btn-outline-light" href="/">INICIO</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="card border-success mt-1">
            <div class="card-header bg-light text-dark">
                <h1 class="text-center"> TINDA ONLINE ADIDAS</h1>
                <br>
                <div>
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-md-5 g-4">
                        <div class="col">
                            <div class="card h-100">
                                <img src="https://cf.shopee.com.mx/file/c4fafcc493b4dfc3ec43e14b2a57fc63_tn" class="card-img-top" alt="">
                                <div class="card-body">
                                    <h5 class="card-title text-center">ADIDAS QATAR</h5>
                                    <p class="card-text">Q 1550.00</p>
                                    <p class="card-text">This is a short card.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <img src="https://i.linio.com/p/0a4ec48712eb5be1c53378eccf816f68-zoom.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">ADIDAS MESSI</h5>
                                    <p class="card-text">Q 2,550</p>
                                    <p class="card-text">This is</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                              <img src="https://i.pinimg.com/236x/5c/c9/26/5cc92691f11d16cac16044757f992385.jpg" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title">ADIDAS PREDATOR</h5>
                                <p class="card-text">Q 1,999</p>
                                <p class="card-text">This is a short card.</p>
                              </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="card h-100">
                              <img src="https://http2.mlstatic.com/D_NQ_NP_634025-MLM48998053496_022022-W.jpg" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title">ADIDAS UNION</h5>
                                <p class="card-text">Q 1,690</p>
                                <p class="card-text">This is a short card.</p>
                              </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="card h-100">
                              <img src="https://www.wdeportes.com/resizer/g-sepvvCaUoweyFw36fyR9euVPc=/650x488/filters:format(jpg):quality(70)/cloudfront-us-east-1.images.arcpublishing.com/prisaradiomx/HH7YVMUMHRFPBAL2HCYD2TSUW4.jpg" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title">ADIDAS FURIOS</h5>
                                <p class="card-text">Q 1,460</p>
                                <p class="card-text">This is a short card.</p>
                              </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="card h-100">
                              <img src="https://www.runningcorrer.com.ar/wprunning/wp-content/uploads/2022/03/adidas-pelota-oficial-partido-mundial-2022-Al-Rihla.jpg" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title">BALON ADIDAS QATAR</h5>
                                <p class="card-text">Q 1,350</p>
                                <p class="card-text">This is a short card.</p>
                              </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="card h-100">
                              <img src="https://cdn.shopify.com/s/files/1/0562/6357/3549/products/8_911052fe-7e11-445b-ba53-c669ea48e793.jpg?v=1662056342" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title">ADIDAS BLUE RANKING</h5>
                                <p class="card-text">Q 1,990</p>
                                <p class="card-text">This is a short card.</p>
                              </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="card h-100">
                              <img src="https://phantom-expansion.unidadeditorial.es/23ad488f79130dc67396d7cc28a241a7/resize/1200/f/webp/assets/multimedia/imagenes/2021/01/25/16115669476948.png" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title">ADIDAS NEON BLUE</h5>
                                <p class="card-text">Q 2,259</p>
                                <p class="card-text">This is a short card.</p>
                              </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="card h-100">
                              <img src="https://assets.adidas.com/images/w_383,h_383,f_auto,q_auto,fl_lossy,c_fill,g_auto/9398112cee9b4772841eae93004fdb9c_9366/zapatos-de-futbol-predator-edge.4-multiterreno.jpg" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title">ADIDAS PUAS RED</h5>
                                <p class="card-text">Q 1,850</p>
                                <p class="card-text">This is a short card.</p>
                              </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="card h-100">
                              <img src="https://i.linio.com/p/1b4af7716d15f13276d02ebd02dd3231-zoom.jpg" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title">ADIDAS PINK QATAR</h5>
                                <p class="card-text">Q 2,350</p>
                                <p class="card-text">This is a short card.</p>
                              </div>
                            </div>
                          </div>
                    </div>
                    <br>
                    <footer class="bg-light text-center p-2">
                        <p class="h3">Guatemala, 2022 &copy;</p>
                    </footer>
                </div>
            </div>
</body>
</html>